*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: white;
    width: 100%;
    height: 100px;
    box-shadow: 0px 2px 10px lightgray;
}
ul{
    margin-left: 20px; 
}
ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
 
 }
ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    padding: 0 20px 0;
    font-weight: 800;
}
ul li a:hover{
    color: black;
 }
 
nav a{
     text-decoration: none;
     text-align: center;
 }
 
 .signin-btn{
    font-size: 20px;  
    width: 90px;
    height: 35px;
    color: black;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: transparent;
    display: inline-block;
    margin-left: 55em;
  }

/* .header{
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 10px lightgray;
    align-items: center;
  }
  
nav h2{
    color: red;
    display: inline-block;
    line-height: 80px;
    padding-left: 100px;
}
.search{
    float: right;
    margin-right:500px;
    height: auto; 
    position: absolute;
    top: 20px;
    left: 15%;
  }
.search input{
    padding: 8px;
    border: 0 solid blue;
    font-size: 20px;
}
.search button{
    float: right;
    background: gray;
    color: white;
    border-radius: 0 5px 5px 0;
    position: relative;
    padding: 7px;
    font-size: 20px;
 }


.signin-btn {
    font-size: 20px;  
    width: 90px;
    height: 35px;
    color: blue;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: transparent;
    display: inline-block;
    margin-left: 50em;
 }

.signin-btn:hover{
    background: blue;
    color: white;
} */

.login{
    width: 300px;
    box-shadow: 0 0 3px 0 gray;
    background: #fff;
    padding: 20px;
    margin: 5% auto 5%;
    text-align: center;
    border-radius: 10px;
} 
.input-box label{
    margin: 10px 10px;
    position: absolute;
    font-weight: bold;
    color: black;
}
.input-box input{
    width: 100%;
    border: 1px solid gray;
    height: 32px;
    margin: 10%  auto 15px;
    border-radius: 20px;
    text-align: center;
    outline: none;
 }
 .login a{
     text-decoration: none;
     color: blue;
}
.login p{
    padding-top: 10px;
}
.login button{
    font-size: 18px;  
    width: 90px;
    height: 35px;
    outline: none;
    color: #fff;    
    border-radius: 5px;
    border: none;
    margin: 20px;
    box-sizing: border-box;
    background: #0066FF;
    cursor: pointer;
}


.signup{
    width: 350px;
    box-shadow: 0 0 3px 1px gray;
    background: #fff;
    padding: 20px ;
    padding-bottom: 1px;
    margin: 2% auto 2%;
    text-align: center;
    border-radius: 10px;
 }
 

.signup h1{
    text-align: center;
    color: black;
}

.inputbox label{
    margin: 0 10px;
    position: absolute;
    font-weight: bold;
    color: black;
}  
 
.inputbox input{
    width: 100%;
    border: 1px solid gray;
    height: 32px;
    margin: 5% auto 15px;
    border-radius: 20px;
    text-align: center;
    outline: none;
}
.signup-btn{
    font-size: 18px;  
    width: 30%;
    height: 35px;
    outline: none;
    color: #fff;    
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    background: #0066FF;
    cursor: pointer;
 }
/* span  */

.container{
    width: 300px;
    box-shadow: 0 0 3px 0 gray;
    background: #fff;
    padding: 20px;
    margin: 5% auto 5%;
    text-align: center;
    border-radius: 10px;
    position: relative;
  
} 
.inputbox input{
width: 100%;
border: 1px solid gray;
height: 32px;
margin: 10%  auto 15px;
border-radius: 20px;
text-align: center;
outline: none;
}

.container h1{
    color: gray;
 }
 .reset-btn{
    font-size: 18px;  
    width: 90px;
    height: 35px;
    outline: none;
    color: #fff;    
    border-radius: 5px;
    border: none;
    margin: 20px;
    box-sizing: border-box;
    background: blue;
    cursor: pointer;
}
 
 .color{
     color:blue;
     position: absolute;
     right: 50%;
     bottom: 50%;
   }

  