*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    box-shadow: 0px 2px 10px lightgray;
    overflow: auto;
 }
.menu ul{
    list-style: none;
    line-height: 60px;
    padding: 0;
    margin: 0;
}
.menu li{
    float: left;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 130px;
    color: black;
}
.menu li a:hover{
     color: black;
}
.search{
    margin-top: 15px;
    float: right;
    margin-right: 100px;
}
.search input{
    padding: 7px;
    border:none;
    font-size: 15px;
}
.search button{
    float: right;
    background: gray;
    color: black;
    border-radius: 0 5px 5px 0;
    position: relative;
    padding: 7px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.btn{
    margin-top: 15px;
    float: right;
    margin-right: 100px;
 }
#btn{
    color: black;
    border-radius: 5px;
    border: 2px solid rgb(0, 81, 255);
    text-transform: uppercase;
     background-color: transparent;
     width: 90px;
    height: 35px;

}
 .signin-btn{
    font-size: 20px;  
    width: 90px;
    height: 35px;
    color: black;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: transparent;
    display: inline-block;
    margin-left: 55em;
  }
/* .search{
    float: right;
    margin-right:500px;
    height: auto; 
    position: absolute;
    top: 500px;
    left: 15%;
    margin: 0 50% 50%;
   } */
/* .search input{
    padding: 8px;
    font-size: 20px;
  }
.search button{
    height: 50px;
    float: right;
    background: gray;
    color: white;
    border-radius: 0 5px 5px 0;
    position: relative;
    padding: 7px;
    font-size: 20px;
 }
 */

/* .header{
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 10px lightgray;
    align-items: center;
  }
  
nav h2{
    color: red;
    display: inline-block;
    line-height: 80px;
    padding-left: 100px;
}
.search{
    float: right;
    margin-right:500px;
    height: auto; 
    position: absolute;
    top: 20px;
    left: 15%;
  }
.search input{
    padding: 8px;
    border: 0 solid blue;
    font-size: 20px;
}
.search button{
    float: right;
    background: gray;
    color: white;
    border-radius: 0 5px 5px 0;
    position: relative;
    padding: 7px;
    font-size: 20px;
 }


.signin-btn {
    font-size: 20px;  
    width: 90px;
    height: 35px;
    color: blue;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: transparent;
    display: inline-block;
    margin-left: 50em;
 }

.signin-btn:hover{
    background: blue;
    color: white;
} */

.login{
    width: 300px;
    box-shadow: 0 0 3px 0 gray;
    background: #fff;
    padding: 20px;
    margin: 5% auto 5%;
    text-align: center;
    border-radius: 10px;
} 
.input-box label{
    margin: 10px 10px;
    position: absolute;
    font-weight: bold;
    color: black;
}
.input-box input{
    width: 100%;
    border: 1px solid gray;
    height: 32px;
    margin: 10%  auto 15px;
    border-radius: 20px;
    text-align: center;
    outline: none;
 }
 .login a{
     text-decoration: none;
     color: blue;
}
.login p{
    padding-top: 10px;
}
.login button{
    font-size: 18px;  
    width: 90px;
    height: 35px;
    outline: none;
    color: #fff;    
    border-radius: 5px;
    border: none;
    margin: 20px;
    box-sizing: border-box;
    background: #0066FF;
    cursor: pointer;
}
.signup{
    
        width: 400px;
        height: auto;
        box-shadow: 0 0 3px 0 gray;
        background: #fff;
        padding: 20px;
        margin: 0 auto 0;
        text-align: center;
        border-radius: 20px;
     
 }
 
.signup h1{
    text-align: center;
    color: black;
    margin-top: 20px;
 }

.inputbox label{
    margin: 0 5px 0;
    position: absolute;
    font-weight: bold;
    color: black;
  }  
 
.inputbox input{
    margin: 5px auto 1px;
    border-radius: 50px;
    text-align: center;
    outline: none;
 

}
.signup-btn{
    font-size: 18px;  
    width: 30%;
    height: 35px;
    outline: none;
    color: #fff;    
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    background: #0066FF;
    cursor: pointer;
 }
/* span  */

.container{
    width: 300px;
    box-shadow: 0 0 3px 0 gray;
    background: #fff;
    padding: 20px;
    margin: 5% auto 5%;
    text-align: center;
    border-radius: 10px;
    position: relative;
  
} 
.inputbox input{
width: 100%;
border: 1px solid gray;
height: 32px;
margin: 10%  auto 15px;
border-radius: 20px;
text-align: center;
outline: none;
}

.container h1{
    color: gray;
 }
 .reset-btn{
    font-size: 18px;  
    width: 90px;
    height: 35px;
    outline: none;
    color: #fff;    
    border-radius: 5px;
    border: none;
    margin: 20px;
    box-sizing: border-box;
    background: blue;
    cursor: pointer;
}
 
 .color{
     color:blue;
     position: absolute;
     right: 50%;
     bottom: 50%;
   }
   
